## Kaggle Titanic Entry
### Daniel Walker, PhD
### 12 APRIL 2021

Purpose: Predict whether passengers Survived (1) or did not (0). 
Output: CSV file with 418 entries - one entry per passenger in test set, with 2 columns: `PassengerId` and `Survived`

### Import Data & Take a Look

In [8]:
import os
import pandas as pd

cwd = os.getcwd()
test_data_path = os.path.join(cwd, 'titanic_data', 'test.csv')
train_data_path = os.path.join(cwd, 'titanic_data', 'train.csv')
test = pd.read_csv(test_data_path)
train = pd.read_csv(train_data_path)
gender = pd.read_csv(os.path.join(cwd, 'titanic_data', 'gender_submission.csv'))
gender.head()
#Gender = example answer submission if only all female passengers survived.

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [17]:
#Begin evaluating the data
test.shape

(418, 11)

In [18]:
train.shape

(891, 12)

In [20]:
#Why does train have one more column?
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [21]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [ ]:
#Answer, test does not have a target variable - 'Survived' in train

The preceding two tables highlight a couple of things about the data:
- Test does not include the target variable
- Cabin & Age are going to be the two most problematic variables, both of which have a large number of NaNs in both train and test

### Analytical Plan

1. Train separate algorithms to predict missing Age and Cabin entries.
- I suspect Age will have better results than Cabin
2. With data sets more evenly populated, evaluate model accuracy with & without imputed variables
- If my suspicion is correct, will probably wind up dropping cabin